/CopyIntoItems.class
/Delete.class
/Download.class
/GetItem.class
/SharePointAttachmentManager.class
/SharePointConfig.class
/SharePointFile.class
/SharepointAuthenticator.class
/UpdateListItems.class
/Upload.class
/WebServiceUtil.class
